* { 
    margin: 0 auto; 
    padding: 0; 
    box-sizing: border-box; 
} 

header { 
    background-image: url(img/wall.png); 
    background-size: cover; 
    display: flex; 
} 

header h1 { 
    text-align: center; 
    font-size: 80px; 
    padding: 15px; 
    font-family: "Edu TAS Beginner", sans-serif; 
} 

main { 
    background-image: url(img/cork.png); 
    /* debug 
    height: 600px;*/ 
}

.container-principale {
  display: flex;
  flex-wrap: wrap;       
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 70%;
  height: auto;
}

.card {
  border: 1px solid #ccc;
  padding: 8px;
  flex: 1 0 calc(33.333% - 20px);
  background-color: white; 
  position: relative;
}

.card img {   
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  padding: 8px;
}

.card p {
    color: gray;
    font-family: "Sometype Mono", monospace;
    padding: 8px;
}

.card::before {
    content: url(img/pin.svg);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}



/* PER TABLET */

@media (max-width: 878px) {
  .card {
    flex: 1 0 calc(50% - 20px);
  }
}


/* PER TELEFONO */

@media (max-width: 639px) {
  .card {
    flex: 1 0 100%;
  }
}